{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "peace_keeping/modules/cdns.html" %}
    <meta charset="UTF-8">
    <title>Create Service</title>
</head>
<body>
<form action="{% url 'peace_keeping:validate_serv' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <div>
            <h1>Create Service</h1>
        </div>
        <div class="fieldWrapper">
            {% include 'peace_keeping/modules/fuzzy_search.html' %}
            {% include 'peace_keeping/service_stock/create_serv/_error_serv_items.html' %}
            {% include "peace_keeping/modules/add_serv_item.html" %}
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </fieldset>
</form>

{#<script src="{% static 'peace_keeping/javascript/fuzzy_search.js' %}"></script>#}
{#<script src="{% static 'peace_keeping/javascript/add_element.js' %}"></script>#}
</body>
</html>
