{% load index %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Candidates</title>
    <link rel="stylesheet" TYPE="text/css" href="{% static 'restore_order/css/style.css' %}">
</head>
<body>
<h1>Confirm Candidates</h1>
<form action="{% url 'restore_order:validate_candidates' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <h2>{{ area_name }}
            {% if raw_item_id %}
                <span>row_data_id : {{ raw_item_id }}</span>
            {% endif %}
            <input type="hidden" name="area_name" value="{{ area_name }}">
        </h2>
        <table class="table-style">
            <tr>
                <th>紙の名・項目</th>
                <th>変換候補</th>
                <th>記入内容</th>
            </tr>
            {% for phrase in phrases %}
                {% with count=forloop.counter0 %}
                    <tr>
                        <td>{{ phrase }}
                            {% if count == 0 %}
                                <input type="hidden" name="serv_name" value="{{ phrase }}">
                            {% else %}
                                <input type="hidden" name="serv_item_{{ count }}" value="{{ phrase }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if count == 0 %}
                                <input type="hidden" name="can_name" value="{{ cans|index:count }}">
                            {% else %}
                                <input type="hidden" name="can_item_{{ count }}" value="{{ cans|index:count }}">
                            {% endif %}
                            <span>  {{ cans|index:count }}</span>
                        </td>
                        <td>
                            {% if count > 0 %}
                                <input type="hidden" name="input_{{ count }}" value="{{ inputs|index_minus_1:count }}">
                                <span>  {{ inputs|index_minus_1:count }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </table>
        {% if not raw_item_id %}
            <input type="submit" value="submit">
        {% endif %}
    </fieldset>
</form>
</body>
</html>
