<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Service</title>
</head>
<body>
<form name="result_update_serv" action="{% url 'peace_keeping:result_update_serv' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <h1>Check inputs and submit!</h1>
        <div>
            <input type="hidden" name="ex_serv_id" id="ex_serv_id" value="{{ ex_serv_id }}">
            <input type="hidden" name="new_serv_id" id="new_serv_id" value="{{ new_serv_id }}">
            <input type="hidden" name="serv_name" id="serv_name" value="{{ serv_name }}">
            <input type="hidden" name="area_name" id="area_name" value="{{ area_name }}">
        </div>
        <div>
            <p>エリア名：{{ area_name }}</p>
            <p>サービス名：{{ serv_name }}</p>
            <p>追加する要素：</p>
            {% for new_item in new_items %}
                <p>{{ new_item }}</p>
            {% endfor %}
            <p>変更前のサービスID：{{ ex_serv_id }}</p>
            <p>変更後のサービスID：{{ new_serv_id }}</p>
        </div>
    <div>
        <input type="submit" value="submit">
    </div>
    </fieldset>
</form>
</body>
