<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Service</title>
</head>
<body>
<form name="input_update_serv" action="{% url 'peace_keeping:confirm_update_serv' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <h1>Input Update Service</h1>
        <div>
            <h1>{{ area_name }} : {{ serv_name }}
                <input type="hidden" name="area_name" id="area_name" value="{{ area_name }}">
                <input type="hidden" name="serv_name" id="serv_name" value="{{ serv_name }}">
                <input type="hidden" name="ex_serv_id" id="ex_serv_id" value="{{ ex_serv_id }}">
                {% for core_item in core_items %}
                    <input type="hidden"　name="{{ core_item }}" id="{{ core_item }}" value="{{ core_item }}">
                {% endfor %}
            </h1>
            <p>現在のサービスID: {{ ex_serv_id }}</p>
        </div>
        <div class="fieldWrapper" id="inputs">
            <h1>コア項目</h1>
            {% for core_item in core_items %}
                <p>
                    {{ core_item }}
                </p>
            {% endfor %}
            <h1>カスタム項目</h1>
            {% for opt_item in opt_items %}
                <p>
                    {{ opt_item }}
                </p>
            {% endfor %}
            <p>
                New item0: <input type="text" name="new_item0" required>
            </p>
        </div>
        <div>
            <input type="button" value="add form" onclick="add_input()">
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </fieldset>
</form>
<script>
    var new_input_num = 1;

    function add_input() {
        var p = document.createElement("p");
        var head = document.createTextNode("New item"+new_input_num+": ");
        p.appendChild(head);
        var input = document.createElement("input");
        var new_item_id = "new_item"+new_input_num;
        input.setAttribute("type", "text");
        input.setAttribute("name", new_item_id);
        input.required=true;
        p.appendChild(input);

        document.getElementById("inputs").appendChild(p);
        new_input_num += 1;
    }
</script>
</body>
