<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Service</title>
</head>
<body>
<form name="show_form" action="{% url 'peace_keeping:validate_used_serv' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <div>
            <h1>{{ area_name }} : {{ serv_name }}
                <input type="hidden" name="area_name" value="{{ area_name }}">
                <input type="hidden" name="serv_name" value="{{ serv_name }}">
                <input type="hidden" name="serv_id" value="{{ serv_id }}">
            </h1>
        </div>
        <div class="fieldWrapper" id="inputs">
            {% if phrase_val_list %}
                {% for el in phrase_val_list %}
                    <p>{{ el.serv_item }}
                        ：<input type="text" name="{{ el.serv_item_id }}" value="{{ el.value }}" required>
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </fieldset>
</form>
<div>
    <button name="add" id="add" onclick="add_input()">add</button>
</div>
<script>
    {% autoescape off %}
        var serv_items = [
            {%  for el in phrase_val_list %}
                '{{ el.serv_item }}',
            {% endfor %}
        ]
        var serv_item_ids = [
            {%  for el in phrase_val_list %}
                '{{ el.serv_item_id }}',
            {% endfor %}
        ]
    {% endautoescape %}

    var branch_num = 2

    function add_input() {
        for (i = 0; i < serv_items.length; i++) {
            var p = document.createElement("p")
            var serv_item = document.createTextNode(serv_items[i] + ' ：')
            p.appendChild(serv_item)

            var input = document.createElement("input");
            {% autoescape off %}
                var serv_item_id = serv_item_ids[i] + '{{serv_item_id_sep}}' + String(branch_num)
            {% endautoescape %}
            input.setAttribute('type', 'text')
            input.setAttribute('name', serv_item_id)
            p.appendChild(input)

            document.getElementById("inputs").appendChild(p);
        }
        branch_num += 1
    }

</script>
</body>
