<div id="add-element">
    <p v-for="(input, index) in inputs">
        [[lastName]]
        {#        <input type="text" :name="lastName" v-model="servItem">#}
        <input type="text" :name="lastName">
        <button @click="deleteRow(index)">Delete</button>
    </p>
    <p @click="addRow">Add row</p>
</div>

<script>
    const add_element = new Vue({
        el: '#add-element',
        delimiters: ["[[", "]]"],
        data: {
            inputs: [],
            names: {"0": 'serv_item_0',},
            count: 0,
            lastName: ''
        },
        methods: {
            addRow() {
                this.inputs.push('')
                this.count += 1
                this.names[(String.count)] = 'serv_item_' + String(this.count)
                this.lastName = this.names[this.names.length - 1]
                console.log(this.lastName)
            },
            deleteRow(index) {
                this.inputs.splice(index, 1)
            },
        }
    })
</script>
