<div id="fuzzy-name-search">
    <h2>{{ area_name }}
        <input type="hidden" name="area_name" value="{{ area_name }}" ref="area_name">
        <input type="hidden" value="{{ base_url }}" ref="base_url">
    </h2>
    <div class="parent">
        <span>届出名orご用件：</span>
        <input type="text"
               name="serv_name"
               v-model="serv_name_or_needs"
               v-on:keyup="getCandidates()"
               ref="input"
               required>
        <div class="child">
            <div v-if=" !is_mounted"></div>
            <div v-else-if="candidates.length === 0 ">
                <span>候補がありません。</span>
            </div>
            <div v-else>
                <div v-for="candidate in candidates">
                    <label>
                        <input type="radio" name="candidate" :value="candidate" v-on:click="select($event)">[[candidate]]
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var fuzzy_search = new Vue({
        delimiters: ["[[", "]]"],
        el: '#fuzzy-name-search',
        data: {
            serv_name_or_needs: '',
            area_name: '',
            candidates: [],
            errored: false,
            loading: false,
            base_url: '',
            is_active: false,
            is_mounted: false
        },
        methods: {
            getCandidates: function () {
                const url = this.base_url + '/peace_keeping/fuzzy_search' + '/' + this.area_name + '/' + this.serv_name_or_needs
                console.log(url)
                axios.get(url)
                    .then(response => {
                        const res = response.data
                        this.candidates = res.split(',')
                        console.log('[this.candidates] ', this.candidates)
                    })
                    .catch(error => {
                        this.candidates = []
                    })
            },
            select: function (event) {
                console.log(event.currentTarget.value)
                this.$refs.input.value = event.currentTarget.value
            },
        },
        mounted() {
            console.log('[this.$refs.area_name]', this.$refs.area_name)
            this.area_name = this.$refs.area_name.value
            this.base_url = this.$refs.base_url.value
            console.log(this.area_name)
            console.log(this.base_url)
        },
        updated() {
            this.is_mounted = true
        },
    });
</script>
